<footer  >
    <div class="footer" >

        <div class="inline">
          <a >&copy; 2022 Perfect Date Inc.</a>
        </div>
          <div class="inline" >
            <a >Web Design By: Jordy Castorena, Diego Escutia & Steph Karlsen</a>
          </div>
          <div class="inline">
            <a>Looking for that special someone<br> to have a Perfect Date... </a>
            <a href="http://34.238.32.159:8080/Intersteller/#/home" id="link1">Click Here =></a>
          </div>

        <div class="inline"  >
          <a href="http://34.238.32.159:8080/Intersteller/#/home" target="blank"><div ><img src="assets/images/InterstellarDating.png" class="img-fluid" id="logo-instellar"></div></a>
        </div>
          <div class="inline" >
            <a  [routerLink]="['/home']"><div class="logo-image"><img src="assets/images/HomeButton.png" class="img-fluid" id="homebtn"></div></a>
          </div>

    </div>

</footer>
