/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-image: url("assets/images/MarbleBackground.jpeg");
  background-position: center;
	background-repeat: no-repeat;
  height: max-content;
	background-size: cover;
}

.footer {
  width: 100%;
  border: none;
  background-color: #7D0F07;
  text-align: center;
  display: inline-block;
}


.inline {
  display: inline-block;
  padding: 2rem 2rem;
  color: whitesmoke;

}
#logo-instellar {
  width: 80px;
  height: 80px;
}


#homebtn {
  width: 125px;
  height: 75px;
}

#link1 {
  color: whitesmoke;
  text-decoration: none;
}
