<div class="container-fluid mainDiv" >
  <div class="container">
<div class="mainDiv">
<h3>Welcome {{loggedIn.firstName}}</h3>

<div class="">
  <h6>Today is {{today | date: 'fullDate'}}</h6> <br>
</div>

<div class="" >
  <img id="userImg" src="assets/images/profileAvatarF.png" alt="">
</div>

<div class="">
  <h6>Your personal details:</h6>
  <h6>First Name: {{loggedIn.firstName}}</h6>
  <h6>Last Name: {{loggedIn.lastName}}</h6>
  <h6>Email: {{loggedIn.email}}</h6>
  <h6>Bio: {{loggedIn.biography}}</h6><br>
</div>
</div>
  <button class="btn btn-default" (click)="editUser=loggedIn">Edit Info</button>

<div *ngIf="editUser" id="editUser">
  <br>
  <form  class="form-group" id="formSize">
    First Name: <input class="form-control" type="text" name="firstName" [(ngModel)]="editUser.firstName"  >
    Last Name: <input class="form-control" type="text" name="lastName" [(ngModel)]="editUser.lastName">
    Email: <input class="form-control" type="text" name="email" [(ngModel)]="editUser.email">
    Bio: <input class="form-control" type="text" name="biography" [(ngModel)]="editUser.biography">
    Profile Picture: <input class="form-control" type="text" name="imgUrl" [(ngModel)]="editUser.imageUrl"><br>
    <button class="btn btn-warning" (click)="editUser= null">Cancel</button> &nbsp;
    <button class="btn btn-success" (click)="update(editUser)">Update</button><br>
    <br>
  </form>
</div>
</div>
<br><br>
<button (click)="showBlogs=!showBlogs" class="btn btn-default">List of Posts</button>
<br><br>
<br><br><br><br>
<div class="col" *ngIf="showBlogs">
  <h4><span>Here is a list of your blog posts</span></h4>
  <table class="table hover table-bordered"  >
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody  >
      <tr (click)="displayBlog(blog)"  *ngFor="let blog of blogs">
        <td>{{blog.blogDate | date:'longDate'}}</td>
        <td >{{blog.title}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedBlog && displayDetails" class="details">
  <p>Title {{selectedBlog.title}}</p>
  <p>Date: {{selectedBlog.blogDate}}</p>
  <p>Post: {{selectedBlog.comments}}</p>
  <button class="btn btn-default" (click)="displayDetails=false" >Hide Details</button>
</div>
</div>
