<div *ngIf="!selected" class="datenight">
  <div class="form">

    <h1 class="header"><span>Add Date Night</span></h1>

    <form *ngIf="!selected" class="add">
      <label>Name:</label><input type="text" name="reviewId" [(ngModel)]="newDateNight.name"/><br>
      <label>Description:</label><input type="text" name="name" [(ngModel)]="newDateNight.description"/><br>
      <label>Image:</label><input type="text" name="comment" [(ngModel)]="newDateNight.imageUrl"/><br>

      <button (click)="create(newDateNight)" class="btn-default">Post date night</button>

    </form>
  </div>

  <div class="col" >

    <h1 class="header">List of Date Nights</h1><br><br>
    <header *ngFor="let datenight of datenights" (click)="display(datenight); loadReviews(datenight); loadAverageRating(datenight)">
      <h3>{{datenight.name}}</h3>
      <img class="topImg img-thumbnail" [src]="datenight.imageUrl" />
  </header>

  </div>

</div>


  <div *ngIf="selected && !editDateNight" class="details">

<h1 class="header">{{selected.name}}</h1>
<br>
<h3 class="header">Overall rating: {{selected.avgRating | number:'1.1-1'}}</h3>

<blockquote>{{selected.description}}</blockquote>

      <button class="btn-default" (click)="selected=null">Back</button>
      <button *ngIf="userLoggedIn()" class="btn-default" (click)="showReviewForm()">Review this date night</button>
      <button *ngIf="loggedIn.role === 'admin'" class="btn-default" (click)="setEdit()" >Edit this Date Night</button>
      <button *ngIf="loggedIn.role === 'admin'" class="btn-default"(click)="delete(selected.id)">Delete</button><br><br><br>


<div>
  <form *ngIf="selected && editDateNight">
    <input type="text" name="name" [(ngModel)]="selected.name"/><br>
    <input type="text" name="city" [(ngModel)]="selected.description"/><br>
    <input type="text" name="image" [(ngModel)]="selected.imageUrl"/><br>
    <button (click)="update(selected)" class="btn-default">Save</button>
    <button (click)="editDateNight = null" class="btn-default">Cancel</button>
  </form>
</div>



      <div class="form">
        <form *ngIf="selected && showAddReviewForm">
          <label for="rating">Rating:</label>
          <select id="rating" name="rating" [(ngModel)]="newReview.rating"><br>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
      <label for="comment">Write a comment below:</label><br><textarea name="comment" rows="10" cols="30" [(ngModel)]="newReview.comment"></textarea><br>
      <label for="image">Image:</label><br><input type="text" name="image" [(ngModel)]="newReview.images"/><br>

      <button (click)="addReview(newReview, selected.id)" class="btn-default" (click)="showAddReviewForm = false">Post your review</button>

        </form>
      </div>

      <div  class="container-fluid">
        <div class="row">
          <div class="col-md-4 my-top mx-auto"  >
            <img class="topImg img-thumbnail" [src]="selected.imageUrl"/>
          </div>

          <div class="col-md-8 my-auto" >

            <div id="masterCard" class="card text-center"  *ngFor="let review of selected.reviews">
              <div class="card-header">
                Rating: {{review.rating}}
              </div>
              <div class="card-body">
                <p class="card-text">{{review.comment}}</p>
                <p class="card-text">{{review.reviewDate | date}}</p>
                <div class="comment-thread">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
