<div *ngIf="!selected" class="datenight">
  <div class="form">

    <h1><span>Add Date Night</span></h1>

    <form *ngIf="!selected" class="add">
      <label>Name:</label><input type="text" name="reviewId" [(ngModel)]="newDateNight.name"/><br>
      <label>Description:</label><input type="text" name="name" [(ngModel)]="newDateNight.description"/><br>
      <label>Image:</label><input type="text" name="comment" [(ngModel)]="newDateNight.imageUrl"/><br>

      <button (click)="create(newDateNight)" class="btn btn-secondary">Post date night</button>

    </form>
  </div>

  <h1><span>List of Date Nights</span></h1>
  <table class="table hover table-bordered">
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let datenight of datenights" (click)="display(datenight)">
      <td>{{datenight.name}}</td>
      <td  class="imagediv">
        <img [src]="datenight.imageUrl"/>
      </td>
    </tr>
  </tbody>
</table>

</div>


  <div *ngIf="selected && !editDateNight" class="details">
    <br>
<br>
<br>
<br>
<br>

<br>
<table class="table hover table-bordered">
<thead>
  <tr>
    <td>Name</td>
    <td>Description</td>
  </tr>
</thead>
<tbody>
<tr>
  <td>{{selected.name}}</td>
  <td>{{selected.description}}</td><br>

</tr>
</tbody>
      </table><br>
      <button class=" btn btn-secondary" (click)="selected=null">Back</button>
      <button class="btn btn-secondary" (click)="setEdit()" editTour = true>Edit this Date Night</button>
      <button class="btn btn-danger"(click)="delete(selected.id)">Delete</button><br><br><br>
      <div  class="imagediv">
        <img [src]="selected.imageUrl"/>
      </div>
  </div>


<div >

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <form *ngIf="selected && editDateNight">
    <input type="text" name="name" [(ngModel)]="editDateNight.name"/><br>
    <input type="text" name="city" [(ngModel)]="editDateNight.description"/><br>
    <input type="text" name="image" [(ngModel)]="editDateNight.imageUrl"/><br>

    <button (click)="update(editDateNight)" class="btn btn-secondary">Save</button>
    <button (click)="editDateNight = null" class="btn btn-danger">Cancel</button>


  </form>
</div>
