header{
  padding-left: 10px;
  display: inline-block;
  width: auto;
}

.form {
  padding: 50px;
  text-align: center;
}

.topImg{
	width: 300px;
	height: 300px;
  border-radius: 10px;
}


.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: whitesmoke;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 40px;
  background: #B51004;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.header {
  text-align: center;
}

ul {
  list-style-type: none;
}
li {

  font-size: 50px;
}

#addDatenight {
  width:500px;
  margin: 0 auto;
  background-color: #B51004;
  border-radius: 15px;
}

#formSize{
  width: 450px;
  margin: auto;
}

#addReview {
  width:500px;
  margin: 0 auto;
  background-color: #B51004;
  border-radius: 15px;
}

#Layout{
  margin-bottom: 10px;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 10%;
  padding-bottom: 2%;
}
