<!-- <br>
<div id="imageFeatured" class="row">
<div class="column">
<div class="card-container" id="titletag" >
  <button class="card card-small" id="Adventure">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
  </button>
  <p></p>
</div>
</div>

<div class="column">
<div class="card-container" id="titletag">
  <button class="card card-small" id="Shows">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
    <span></span>
  </button>
  <p></p>
</div>
</div>

<div class="column">
  <div class="card-container" id="titletag">
    <button class="card card-small" id="Relaxing">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
      <span></span>
    </button>
    <p></p>
  </div>
  </div>

  <div class="column">
    <div class="card-container" id="titletag">
      <button class="card card-small" id="Romantic">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
        <span></span>
      </button>
      <p>Romantic</p>
    </div>
    </div>

    <div class="column">
      <div class="card-container" id="titletag">
        <button class="card card-small" id="FirstDate">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
          <span></span>
        </button>
        <p>First Date</p>
      </div>
      </div>

      <div class="column">
        <div class="card-container" id="titletag">
          <button class="card card-small" id="SecondDate">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
            <span></span>
          </button>
          <p>Second Date</p>
        </div>
        </div>

        <div class="column">
          <div class="card-container" id="titletag">
            <button class="card card-small" id="Extreme">
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
              <span></span>
            </button>
            <p>Extreme Date</p>
          </div>
          </div>

          <div class="column">
            <div class="card-container" id="titletag">
              <button class="card card-small" id="Frustrations">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
                <span></span>
              </button>
              <p>Fuss</p>
            </div>
            </div>
</div> -->

<!-- Dynamic Build Below Here -->

<br>
<div id="imageFeatured" class="row" *ngFor="let category of categories">
  <div class="column">
    <div class="card-container" id="titletag" >
      <button class="card card-small" >
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"></svg>
      </button>
      <img id="image" src="{{category.imageUrl}}">
      <p>{{category.name}}</p>
    </div>
  </div>
</div>


