<div id="masterCard" class="card text-center" *ngFor="let blog of blogs; let i = index">
  <div class="card-header">
    Author: {{blog.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.comments}}</p>
    <a *ngIf="loggedIn" class="btn btn-primary" id="Button" (click)="showAllBlogComments(blog.id, i)">View Thread</a>
    <div *ngIf="showThread[i]">
    <div *ngFor="let blogcomment of blog.blogComments">
      <div class="comment-thread">
        <!-- Comment 1 start -->
        <div id="reply" class="comment" id="comment-1">
            <div class="comment-heading">
                <div class="comment-voting">
                    <button type="button">
                        <span aria-hidden="true">&#9650;</span>
                        <span class="sr-only">Vote up</span>
                    </button>
                    <button type="button">
                        <span aria-hidden="true">&#9660;</span>
                        <span class="sr-only">Vote down</span>
                    </button>
                </div>
                <div class="comment-info">
                    <a href="#" class="comment-author">{{blogcomment.user.username}}</a>
                    <p class="m-0">
                        {{blogcomment.blogCommentDate}}
                    </p>
                </div>
            </div>

            <div class="comment-body">
                <p>
                    {{blogcomment.message}}
                </p>
            </div>

        </div>
        <!-- Comment 1 end -->
        <div *ngFor="let reply of blogCommentReplies[i]">
          {{reply.message}}
        </div>
    </div>
    </div>
    <button type="button" (click)="doReplyFlag = !doReplyFlag; toggleReplyButtonText()">{{replyButtonText}}</button>

    <div *ngIf="doReplyFlag">
      <form>
        <br>
        <label >Comment: </label><input id="CommentBox" type="text" class="form-control" name="message" value="message" [(ngModel)]="newComment.message"><br>
        <input type="datetime" name="blogCommentDate" value="blogCommentDate" [(ngModel)]="newComment.blogCommentDate" hidden><br>
        <input type="text" name="imageUrl" value="imageUrl" [(ngModel)]="newComment.imageUrl" hidden><br>
        <button type="submit" class="btn btn-primary" (click)="reply(blog.id, newComment)">Submit</button>
      </form>
    </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    {{blog.blogDate}}
  </div>
</div>


