
<br><br><br>
<!--  -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 my-auto mx-auto" *ngIf="! loggedIn()" >
     <button class="btn btn-default" [routerLink]="['/login']" >Sign In</button><br><br>
     <button class="btn btn-default" [routerLink]="['/register']">Sign Up!</button><br><br>
     <button class="btn btn-default" [routerLink]="['/category']">Continue as guest</button>
    </div>
    <div class="col-md-8 my-auto" >
      <section  id="c-size" class="hero carousel-hero">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="carousel-item active">
            <img class="pictures" src="../../../assets/images/pexels-dziana-hasanbekava-6401656.jpg">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-item active">
            <img class="pictures" src="../../../assets/images/pexels-chrysostomos-galathris-1420695 (1).jpg">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="carousel-item active">
            <img class="pictures" src="../../../assets/images/pexels-flo-maderebner-340566.jpg" alt="Random third slide">
          </div>
        </ng-template>
      </ngb-carousel>
      </section>
    </div>
  </div>
</div>


